<!DOCTYPE html>
<head>
    <title>Database</title>
</head>
<style>
    .heading {
		background-color: pink;
	}
    button {
		background-color:lightcyan;
		color: black;
		padding: 14px 20px;
		margin: 8px 0;
		cursor: pointer;
        text-decoration:bold;
		width: 18%;
        border: 5px solid purple
	}
    .center {
            text-align: center;
            border: 2px solid purple;
            background:plum
    }
</style>
<body class="heading">
    <center>
        <h1>Department Database</h1>
        <hr/>
        <a href="{% url 'InsertDept' %}">
            <button class="button">Create New Department</button></a>
            <table class="center" border="1">
                <tr>
                    <th>Serial no.</th>
                    <th>Department</th>
                    <th>Head od Dept.</th>
                </tr>
                {% for result in data %}
                <tr>
                    <td>{{result.id}}</td>
                    <td>{{result.dept_name}}</td>
                    <td>{{result.dept_hod}}</td>
                    <td><a href="edit_dept/{{result.id}}">Edit</a></td>
                    <td><a href="Delete_dept/{{result.dept_id}}" onclick="return confirmation('Are you sure want to Delete the Record?')">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            <button class="button"><a href="{% url 'showemp' %}">Go Back</a></button>
    </center>
</body>
